lib/config.py
# Игнорировать файл config.py
/__pycache__/
# Игнорировать все файлы из папки __pycache__
lib/__pycache__/
# Игнорировать папку __pycache__ из lib
/.idea/
# Игнорировать все файлы из папки .idea